.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.firstletter {
  background-color: rgb(207, 73, 95);
  border-radius: 50%;
  width: 25px;
}
.wrap_box1 {
  background-color: rgb(236, 233, 228);
  box-shadow: 1rem black;
}
